* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #27374d;
	color: #dde6ed;
}

img {
	height: auto;
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}

button {
	border: none;
	outline: none;
}

input {
	width: 100%;
	border: none;
	outline: none;
	font-size: 1rem;
	color: inherit;
}

header {
	overflow: hidden;
	display: flex;
	gap: 1rem;
	flex-wrap: nowrap;
	padding: 1rem 2rem;
}

header input {
	background: transparent;
	caret-color: #526d82;
	border-bottom: 1px solid #526d82;
	padding-bottom: 4px;
	padding-left: 8px;
}

header .search-icon {
	height: 25px;
	width: 25px;
	background: transparent;
	cursor: pointer;
}

main {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

main .weather-icon {
	height: 120px;
	width: 120px;
	margin-bottom: 1rem;
}

main .temp {
	font-size: 2.5rem;
}

main .temp span {
	position: relative;
	margin-right: 0.8rem;
}

main .temp span::after {
	content: 'o';
	position: absolute;
	right: -8px;
	font-size: 10px;
}

main .location {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 8px;
	font-size: 0.9rem;
}

main .location .location-icon {
	height: 13px;
	width: 13px;
}

.weather-info {
	margin-top: 2rem;
	padding: 0 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2px;
}

.weather-info > div {
	background-color: rgba(82, 109, 130, 0.3);
	padding: 1.5rem 0;
	border-radius: 4px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.6rem;
}

.weather-info > div span:nth-child(1) {
	font-size: 1.5rem;
	color: #78b9eb;
}

.weather-info > div span:nth-child(3) {
	font-size: 12px;
}

.weather-info .info-icon {
	height: 20px;
	width: 20px;
}

.tmp {
	position: relative;
	margin-right: 3px;
}

.tmp::after {
	content: 'o';
	position: absolute;
	right: -5px;
	top: 0;
	font-size: 8px;
}

.sm {
	font-size: 0.8rem;
}

.my-app {
	display: none;
}

.temp-display {
	height: calc(100vh - 57px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.temp-display p {
	color: #526d82;
	font-size: 1rem;
	max-width: 80%;
	text-align: center;
}

.temp-icon {
	height: 130px;
	width: 130px;
}

.temp-icon.question {
	display: flex;
	justify-content: center;
	align-items: center;
}

.temp-icon.question p {
	font-size: 6rem;
}

.temp-display.hide {
	display: none;
}
